@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-white text-black dark:bg-slate-950 dark:text-white;
}

.dark body {
  background-color: #020617;
  color: white;
}
/* Light Theme */

.light body {
  background: #ffffff;
  color: #0f172a;
}
